.profile-popup-container {
    position: absolute;
    width: 300px;
    height: 400px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #000000C4;
    opacity: 1;
    z-index: 99;
}

h1 {
    font: var(--unnamed-font-style-normal) normal 600 18px/27px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal 600 16px/27px Poppins;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
    margin-left:20px;
    margin-top:10px;
}

* {
    user-select: none;
    
}

p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/20px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1f1f1f);
    text-align: left;
    font: normal normal normal 12px/20px Poppins;
    letter-spacing: 0px;
    color: #1F1F1F;
    opacity: 1;
    margin-left:20px;
}

form {
    width: 245px;
    height: 230px;
    border: 1px solid #A0A6AC;
    border-radius: 2px;
    opacity: 1;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    overflow:scroll;
}

.input{
    margin-left:5px;
    text-align:center;
}

label{
    margin:3px;
}

button{
    width:80px;
    height:40px;
    margin-top:30px;
    margin-right:20px;
    float:right;
    border:none;
}

#ok {
    background-color: #002F59;
    color: #FFFFFF;
}

#cancel {
    background-color: #CFCFCF;
    color: #363636;
}
 